[submodule "Submodules/glm"]
	path = Submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "Submodules/log"]
	path = Submodules/log
	url = https://github.com/rxi/log.c.git
[submodule "Submodules/tinyXML"]
	path = Submodules/tinyXML
	url = https://github.com/Tigole/TinyXML_Boosted.git
